/* :root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* colors */
    /* --primary-color: #f0a868;
    --secondary-color: #525b0f;
    --tertiary-color: #8a470c;
    --light-grey: #d0d0d0;
    --dark-grey: #303030; */

    /* sizes */
    /* --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
} */ 

body {
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-grey);
}

ul {
    display: grid;
    grid-row: inherit;
    background-color: rgb(0, 255, 234)
}

ul li {
    color: rgb(82, 51, 4);
}

li[data-category="fruit"] {
    background-color: lightyellow;
}

li[data-category="vegetable"] {
    background-color: lightgreen;
}

li[data-category="dairy"] {
    background-color: lightblue;
}